// Typography
.f-32 {
    font-size: 32px !important;
}
.f-30 {
    font-size: 30px !important;
}
.f-28 {
    font-size: 28px !important;
}
.f-24 {
    font-size: 24px !important;
}
.f-20 {
    font-size: 20px !important;
}
.f-18 {
    font-size: 18px !important;
}
.f-17 {
    font-size: 17px !important;
}
.f-16 {
    font-size: 16px !important;
}
.f-15 {
    font-size: 15px !important;
}
.f-14 {
    font-size: 13px !important;
}
.f-13 {
    font-size: 13px !important;
}
.f-12 {
    font-size: 12px !important;
}
.f-11 {
    font-size: 11px !important;
}

.f-medium-34 {
    font-size: 34px !important;
    font-weight: 500 !important;
}
.f-medium-30 {
    font-size: 30px !important;
    font-weight: 500 !important;
}
.f-medium-28 {
    font-size: 28px !important;
    font-weight: 500 !important;
}
.f-medium-24 {
    font-size: 24px !important;
    font-weight: 500 !important;
}
.f-medium-22 {
    font-size: 22px !important;
    font-weight: 500 !important;
}
.f-medium-20 {
    font-size: 20px !important;
    font-weight: 500 !important;
}
.f-medium-18 {
    font-size: 18px !important;
    font-weight: 500 !important;
}
.f-medium-16 {
    font-size: 16px !important;
    font-weight: 500 !important;
}
.f-medium-15 {
    font-size: 15px !important;
    font-weight: 500 !important;
}
.f-medium-14 {
    font-size: 14px !important;
    font-weight: 500 !important;
}
.f-medium-13 {
    font-size: 13px !important;
    font-weight: 500 !important;
}
.f-medium-12 {
    font-size: 12px !important;
    font-weight: 500 !important;
}
.f-medium-11 {
    font-size: 11px !important;
    font-weight: 500 !important;
}
.f-medium-10 {
    font-size: 10px !important;
    font-weight: 500 !important;
}
.f-bold-40 {
    font-size: 40px !important;
    font-weight: bold !important;
}
.f-bold-36 {
    font-size: 36px !important;
    font-weight: bold !important;
}
.f-bold-34 {
    font-size: 34px !important;
    font-weight: bold !important;
}
.f-bold-30 {
    font-size: 30px !important;
    font-weight: bold !important;
}
.f-bold-32 {
    font-size: 32px !important;
    font-weight: bold !important;
}
.f-bold-28 {
    font-size: 28px !important;
    font-weight: bold !important;
}
.f-bold-24 {
    font-size: 24px !important;
    font-weight: bold !important;
}
.f-bold-20 {
    font-size: 20px !important;
    font-weight: bold !important;
}
.f-bold-18 {
    font-size: 18px !important;
    font-weight: bold !important;
}
.f-bold-16 {
    font-size: 16px !important;
    font-weight: bold !important;
}
.f-bold-15 {
    font-size: 15px !important;
    font-weight: bold !important;
}
.f-bold-14 {
    font-size: 14px !important;
    font-weight: bold !important;
}
.f-bold-13 {
    font-size: 13px !important;
    font-weight: bold !important;
}
.f-bold-12 {
    font-size: 13px !important;
    font-weight: bold !important;
}
.f-bold-11 {
    font-size: 11px !important;
    font-weight: bold !important;
}
.f-bold-10 {
    font-size: 10px !important;
    font-weight: bold !important;
}
.f-bold-8 {
    font-size: 8px !important;
    font-weight: bold !important;
}
.f-600-32 {
    font-size: 32px !important;
    font-weight: 600 !important;
}
.f-lg {
    font-size: large !important;
}
.f-sm {
    font-size: small !important;
}
.f-md {
    font-size: medium !important;
}
.f-lr {
    font-size: larger !important;
}
.f-sr {
    font-size: smaller !important;
}
.f-xl {
    font-size: x-large !important;
}
.f-xs {
    font-size: x-small !important;
}
.f-xxl {
    font-size: xx-large !important;
}
.f-xxs {
    font-size: xx-small !important;
}
.f-light {
    font-weight: lighter !important;
}
.f-bold {
    font-weight: bold !important;
}
.text-color {
    color: var(--ion-color) !important;
}
.text-dark {
    color: #5b5b5b !important;
}
.text-medium {
    color: var(--ion-color-medium) !important;
}
.text-light {
    color: var(--ion-color-white) !important;
}
.text-soft {
    color: var(--ion-color-step-500) !important;
}
.text-softer {
    color: var(--ion-color-light-shade) !important;
}
.text-primary {
    color: var(--ion-color-primary) !important;
}
.text-success {
    color: var(--ion-color-success) !important;
}
.text-green {
    color: var(--ts-color-dirty-green) !important;
}
.text-warning {
    color: var(--ion-color-warning) !important;
}
.text-danger {
    color: var(--ion-color-danger) !important;
}

.lh-1 {
    line-height: 1 !important;
}
