// SCSS VARIABLES
// Media breakpoints
$xs: 340px;
$sm: 576px;
$smMax: 575px;
$md: 768px;
$mdMax: 767px;
$lg: 992px;
$lgMax: 991px;
$xl: 1200px;
$xlMax: 1200px;
$xlMax: 1199px;
$xxl: 1600px;
$xxlMax: 1599px;
